# 修改huggingface镜像地址
HF_ENDPOINT=https://hf-mirror.com

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="your-LangSmith-key"
LANGSMITH_PROJECT="default"

# OpenAI key
OPENAI_API_KEY="sk-proj-open-ai-key"

# DeepSeek key
DEEPSEEK_API_KEY="sk-deep-seek-key"
# 搜索引擎Tavily
TAVILY_API_KEY="tvly-dev-key"

# anthropic:claude
ANTHROPIC_API_KEY="your-api-key"